####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Editor swap files
####################################
*.swp
*.swo
*~

####################################
# IDE / Editor
####################################
.vscode/
.idea/