####################################
# PlatformIO
####################################
.pio/
.platformio/
libdeps/
.cache/

####################################
# Arduino CLI
####################################
build/
.build/
arduino_build_*/
arduino_cache_*/

####################################
# Compiled firmware
####################################
*.hex
*.bin
*.elf
*.map

####################################
# C/C++ build artifacts
####################################
*.o
*.a
*.d
*.su

####################################
# IDE / Editor
####################################
.vscode/
.idea/

####################################
# Logs
####################################
*.log
